#s-b0221224-165d-4dea-923e-ec43748ced6b > #backgroundBox {
  position: absolute;
}
#s-b0221224-165d-4dea-923e-ec43748ced6b > #alignmentBox {
  position: relative;
  max-width: 430.0px;
  max-height: 932.0px;
  width: 100%;
  height: 100%;
}
#s-b0221224-165d-4dea-923e-ec43748ced6b #s-Rectangle_1 {
  position: absolute;
  width: 430.00000000000085px;
  min-height: 932.0000000000002px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b0221224-165d-4dea-923e-ec43748ced6b #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: radial-gradient(100.0% 46.13733905579407% at 50.0% 50.0%, #EBABF1 0.0%, #FFFFFF 100.0%);
}
#s-b0221224-165d-4dea-923e-ec43748ced6b #s-Rectangle_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-b0221224-165d-4dea-923e-ec43748ced6b #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b0221224-165d-4dea-923e-ec43748ced6b #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b0221224-165d-4dea-923e-ec43748ced6b #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-b0221224-165d-4dea-923e-ec43748ced6b #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-b0221224-165d-4dea-923e-ec43748ced6b #s-Path_1 {
  position: absolute;
  width: 20.136688232421875px;
  height: 14.285202026367188px;
}
#s-b0221224-165d-4dea-923e-ec43748ced6b #s-Path_2 {
  position: absolute;
  width: 24.66867446899414px;
  height: 10.428571701049805px;
}
#s-b0221224-165d-4dea-923e-ec43748ced6b #s-Path_3 {
  position: absolute;
  width: 32.1021728515625px;
  height: 15.063491821289062px;
}
#s-b0221224-165d-4dea-923e-ec43748ced6b #s-Path_4 {
  position: absolute;
  width: 22.554229736328125px;
  height: 14.167095184326172px;
}
#s-b0221224-165d-4dea-923e-ec43748ced6b #s-Text_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_0.0.0_system',Arial;
}
#s-b0221224-165d-4dea-923e-ec43748ced6b #s-Text_1 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-b0221224-165d-4dea-923e-ec43748ced6b #s-Text_1 > .borderLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-b0221224-165d-4dea-923e-ec43748ced6b #s-Text_1 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-b0221224-165d-4dea-923e-ec43748ced6b #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b0221224-165d-4dea-923e-ec43748ced6b #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b0221224-165d-4dea-923e-ec43748ced6b #s-Text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-b0221224-165d-4dea-923e-ec43748ced6b #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-b0221224-165d-4dea-923e-ec43748ced6b #s-Path_17 {
  position: absolute;
  width: 31.973670959472656px;
  height: 29.591798782348633px;
}
#s-b0221224-165d-4dea-923e-ec43748ced6b #s-Text_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b0221224-165d-4dea-923e-ec43748ced6b #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b0221224-165d-4dea-923e-ec43748ced6b #s-Text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b0221224-165d-4dea-923e-ec43748ced6b #s-Text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-b0221224-165d-4dea-923e-ec43748ced6b #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-b0221224-165d-4dea-923e-ec43748ced6b #s-Image_1 {
  position: absolute;
  width: 494.0px;
  height: 515.0000000000002px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b0221224-165d-4dea-923e-ec43748ced6b #s-Image_2 {
  position: absolute;
  width: 129.00000000000003px;
  height: 134.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b0221224-165d-4dea-923e-ec43748ced6b #s-Image_3 {
  position: absolute;
  width: 149.0px;
  height: 134.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b0221224-165d-4dea-923e-ec43748ced6b #s-Image_4 {
  position: absolute;
  width: 149.50000000000074px;
  height: 100.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b0221224-165d-4dea-923e-ec43748ced6b #s-Text_3 {
  position: absolute;
  width: 151.0000000000007px;
  min-height: 141.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b0221224-165d-4dea-923e-ec43748ced6b #s-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b0221224-165d-4dea-923e-ec43748ced6b #s-Text_3 .valign {
  vertical-align: top;
  text-align: center;
}
#s-b0221224-165d-4dea-923e-ec43748ced6b #s-Text_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-b0221224-165d-4dea-923e-ec43748ced6b #s-Text_3 span#rtr-s-Text_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-b0221224-165d-4dea-923e-ec43748ced6b #s-Text_3 span#rtr-s-Text_3_1 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-b0221224-165d-4dea-923e-ec43748ced6b #s-Text_3 span#rtr-s-Text_3_2 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-b0221224-165d-4dea-923e-ec43748ced6b #s-Text_4 {
  position: absolute;
  width: 151.0000000000007px;
  min-height: 141.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b0221224-165d-4dea-923e-ec43748ced6b #s-Text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b0221224-165d-4dea-923e-ec43748ced6b #s-Text_4 .valign {
  vertical-align: top;
  text-align: center;
}
#s-b0221224-165d-4dea-923e-ec43748ced6b #s-Text_4 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-b0221224-165d-4dea-923e-ec43748ced6b #s-Text_4 span#rtr-s-Text_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-b0221224-165d-4dea-923e-ec43748ced6b #s-Text_4 span#rtr-s-Text_4_1 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-b0221224-165d-4dea-923e-ec43748ced6b #s-Text_4 span#rtr-s-Text_4_2 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-b0221224-165d-4dea-923e-ec43748ced6b #s-Text_5 {
  position: absolute;
  width: 151.0000000000007px;
  min-height: 141.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b0221224-165d-4dea-923e-ec43748ced6b #s-Text_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b0221224-165d-4dea-923e-ec43748ced6b #s-Text_5 .valign {
  vertical-align: top;
  text-align: center;
}
#s-b0221224-165d-4dea-923e-ec43748ced6b #s-Text_5 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-b0221224-165d-4dea-923e-ec43748ced6b #s-Text_5 span#rtr-s-Text_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-b0221224-165d-4dea-923e-ec43748ced6b #s-Text_5 span#rtr-s-Text_5_1 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-b0221224-165d-4dea-923e-ec43748ced6b #s-Text_5 span#rtr-s-Text_5_2 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-weight: 700;
  text-transform: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-b0221224-165d-4dea-923e-ec43748ced6b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}